body {
    background-color:  #F4174C;
    font-family: 'Inter';
    font-style: normal;
}

.container {
    box-sizing: border-box;
    position: absolute;
    width: 879px;
    height: 450px;
    left: 306px;
    top: 200px;

    background-color: #D9D9D9;
    border: 1px solid #FFFFFF;

    box-shadow: 5px 6px 4px rgba(0,0,0,0.25);
    border-radius: 10px;
}

.title {
    position: absolute;
width: 1186px;
height: 100px;
left: 150px;
top: 10px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 64px;
line-height: 77px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.subTitle {
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 250px;
    top: 40px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 200;
    font-size: 35px;
    line-height: 77px;
    text-align: center;

    color: #FFFFFF;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.labelDisciplina {
    position: absolute;
    left: 100px;
    color: #F4174C;
    top: 60px;
    font-weight: 600;
    font-size: 17px;
}
#disciplina {
    position: absolute;
    top: 80px;
}

.labelMedia{

    position: absolute;
    left: 100px;
    color: #F4174C;
    top: 270px;
    font-weight: 600;
    font-size: 17px;
}

#media {
    position: absolute;
    top: 290px;
}


.labelCh {

    position: absolute;
    left: 100px;
    color: #F4174C;
    top: 130px;
    font-weight: 600;
    font-size: 17px;
}
#ch {

    position: absolute;
    top: 150px;

}

.labelPeriodo {

    position: absolute;
    left: 100px;
    color: #F4174C;
    top: 200px;
    font-weight: 600;
    font-size: 17px;
}

#periodo {
    position: absolute;
    top: 220px;


}
.btnCadastrar{

    box-sizing: border-box;
    position: absolute;
    background: #F4174C;
    border: 3px solid #FFFFFF;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 25px;
    border-radius: 20px;
    position: absolute;
    left: 300px;
    top: 370px;
    height: 45px;
    width: 255px;
}
input {
    position: absolute;
    width: 701px;
    height: 40px;
    left: 100px;
    background: #F5F5F5;
    border-radius: 10px;
    border: none;
    outline: none;
}

input:hover{
    border:2px solid rgba(244, 23, 76, 0.83);
}

input::placeholder {
    color: rgba(244, 23, 76, 0.83);
    position: absolute;
    left: 10px;
    top: 14px;
    font-weight: 600;
}

input:focus {
    border:2px solid rgba(244, 23, 76, 0.83);
}

