<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css')}}">
    <title>Home</title>
</head>
<body>
    <div>
        <h1 class="title">Bem vindo ao Gestão Acadêmica, {{current_user.username}}!!!</h1>
        <h6 class="subTitle">Por favor, digite as informações da disciplina no formulário abaixo:</h6>

        <form action="/home" method="POST" class="container">
            <div class="labelDisciplina">Disciplina:</div>
            <input type="text"  required name="disciplina" id="disciplina" placeholder="Disciplina">
            <div class="labelCh">Carga Horária:</div>
            <input type="number" required name="ch" id="ch" placeholder="Carga Horária">
            <div class="labelPeriodo">Periodo</div>
            <input type="number" required name="periodo" id="periodo" placeholder="Período">
            <div class="labelMedia">Media</div>
            <input type="number" step="any" required name="media" id="media" placeholder="Média">
            <button type="submit" class="btnCadastrar">Cadastrar</button>
        </form>
    </div>
</body>

</html>