<!DOCTYPE html>
    <html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Teste do teste</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    </head>
    <body>
        

        <h1>Gestão Acadêmica</h1>
        {% if user %}
        <p>Bem-vindo ao seu site de Gestão Acadêmica, {{ user }}!</p>
        {% else %}
        <p>Bem vindo ao Gestão Acadêmica</p>
        {% endif %}
        
        {% block content%}
        {% endblock %}
        
        <script src="https://ajax.googleapis.com./ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
    </body>
</html>