{% extends "index.html"%}

{% block content %}
<div class="col-md-3 col-md-offset-3" style="margin-top: 10%; margin-left: 35%;">
    <form action="" method="POST">
        
        <div class="form-group">
            <label>Usuário</label>
                {{ form.username(class="form-control", placeholder="Seu Usuário") }}
        </div>
        
        <div class="form-group">
            <label>Senha</label>
                {{ form.password(class="form-control", placeholder="Senha") }}
        </div>
        
        <div class="checkbox">
            <label>
                {{ form.remember_me}} Lembre-se
            </label>
        </div>

        <button type="submit" class="btn btn-default">Entrar</button> 
    </form>
</div>
{% endblock %}